* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --header-font-size: 1.5rem;
  --user-list-bg: rgb(17, 16, 16);
  --btn-background: #047cfc;
  --border-color: blue;
  --black-color: black;
  --container-background-color: white;

  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f4f7f6;
  --text-color: #2c3e50;
  --border-radius: 8px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body {
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: var(--box-shadow);
   position: relative;
}
.header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  text-align: center;
}
h1 {
  font-size: 2rem;
}
#heading {
  text-align: center;
  height: 40%;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}
.function {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: #2473c2;
  padding: 15px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}
.sort-function {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#sort-by {
  font-weight: 800;
  font-size: var(--header-font-size);
}
.sort-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#add_new_user {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sort-field {
  background-color: var(--btn-background);
  border: 1px solid var(--border-color);
  color: white;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  text-align: center;
  outline: none;
}
#sort-field:hover {
  outline: 1px solid var(--black-color);
  cursor: pointer;
}

#order {
  background-color: var(--btn-background);
  border: 1px solid var(--border-color);
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  text-align: center;
  color: white;
  outline: none;
}
#order:hover {
  outline: 1px solid var(--black-color);
  cursor: pointer;
}

#sort-submit {
  width: 6rem;
  height: 2rem;
  padding: 5px;
  border-radius: 0.3rem;
  font-size: 1rem;
  background-color: var(--btn-background);
  border: 1px solid var(--border-color);
  color: white;
}
#sort-submit:hover {
  outline: 1px solid black;
  cursor: pointer;
}
#add_new_user button {
  width: 10rem;
  height: 2rem;
  padding: 5px;
  border-radius: 0.3rem;
  font-size: 1rem;
  background-color: var(--btn-background);
  border: 1px solid var(--border-color);
  color: white;
}
#add_new_user button:hover {
  outline: 1px solid black;
  cursor: pointer;
}

.sort-btns select,
.sort-btns button,
#add_new_user button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 2px 3px;
  border-radius: var(--border-radius);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
}

.sort-btns select:hover,
.sort-btns button:hover,
#add_new_user button:hover {
  /* transform: translateY(-2px); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  border: 1px solid red;
  border-collapse: collapse;
  width: 100%;
}
tr {
  background-color: rgb(2, 28, 26);
  color: white;
}
td {
  border: 1px solid rgb(241, 241, 241);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3rem;
}
th {
  border: 1px solid rgb(253, 249, 249);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3rem;
  background-color: black;
}

.delete-btn {
  border: 1px solid var(--user-list-bg);
  text-align: center;
  background-color: rgb(194, 201, 178);
  width: 100%;
  height: 100%;
}
.delete-btn:hover {
  background-color: white;
  cursor: pointer;
}

#addForm {
  display: none;
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  width: 30%;
  height: 25rem;
  padding: 1rem;
  box-shadow: 1 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 5px;
}
.formInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.input_data {
  height: 2.5rem;
  border: 2px solid blue;
  padding: 0 10px;
}
.input_data::placeholder {
  color: rgb(0, 0, 0);
}
#form-submit,
#close-form-btn {
  height: 2rem;
  width: 4rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  background-color: var(--btn-background);
  border: 1px solid var(--border-color);
  color: white;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#form-submit:hover,
#close-form-btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
#close-form-btn {
  background-color: #ff4d4d;
}
#close-form-btn:hover {
  background-color: #ff4d4d;
  color: white;
}
@media (max-width: 1132px) {
  .user_list_email {
    display: none;
  }
}

@media (max-width: 768px) {
  .function {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 712px) {
  .function {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  .user_list_gender {
    display: none;
  }
}
@media (max-width: 554px) {
  .sort-btns {
    justify-content: center;
    align-items: flex-start;
  }
  .header {
    height: 30%;
  }
  .sort-function {
    width: 100%;
    justify-content: start;
  }
  .sort-selection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (max-width: 493px) {
  .sort-function {
    width: 100%;
    justify-content: start;
  }
  .sort-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
  }
  .sort-btns {
    align-items: center;
  }
  .function {
    height: 80%;
    gap: 10px;
  }
  .user_list_username {
    display: none;
  }
}
@media (max-width: 393px) {
  .header {
    height: 30%;
  }
  .sort-function {
    gap: 5px;
  }
  .sort-btns {
    gap: 5px;
    flex-direction: column;
  }
  #sort-submit {
    margin-right: 2px;
  }
  .container {
    padding: 0;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
